/* -------- Default & Common Shared Style --------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

/*----- Button Style Section -------*/
.btn {
    background-color: #ff4f00;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 0.8rem 1.2rem;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.btn:hover {
    filter: hue-rotate(180deg);
}

.outline-btn {
    background: transparent;
    border: 2px solid #ff4f00;
    color: #fff;
    border-radius: 25px;
    padding: 0.7rem 1.1rem;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.outline-btn:hover {
    padding: 0.8rem 1.2rem;
    border: none;
    background-color: #ff4f00;
    color: #fff;
}

.btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-cart:hover {
    filter: hue-rotate(145deg);
}

.btn img {
    width: 1.3rem;
}

/* -------- Header Section Style --------- */
header {
    background: #e5e4e2;
}

/* -------- Navigation Bar & Banner Section Style --------- */

.nav-container {
    position: relative;
    background: url(../images/hero-bg-2.jpg);
    background-size: cover;
    background-position: center;
}

.nav-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.banner,
.banner-extra-container {
    position: relative;
    z-index: 2;
}

nav {
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    position: relative;
    z-index: 3;
}

.logo,
.menu,
.menu-icon {
    width: 100%;
}

.logo img {
    width: 10rem;
}

.menu ul {
    display: flex;
    gap: 1.5rem;
}

.menu ul li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

.menu a:hover {
    color: #ff4f00;
    border-bottom: 2px solid #fff;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.menu-icon img {
    width: 1.5rem;
    cursor: pointer;
}

.banner {
    padding: 9rem;
}

.banner-sub-title {
    font-size: 1.1rem;
    font-weight: 800;
    color: #ff4f00;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
    text-align: center;
    margin: 2rem 0;
}

.banner-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.banner-extra-container {
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}

.ssr-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ssr-container img {
    width: 5rem;
    border: 3px dotted #f28123;
    border-radius: 50%;
    padding: 1rem;
}

.ssr-content h4 {
    font-size: 1.3rem;
    margin-bottom: 8px;
}

.ssr-content p {
    color: #696969;
}

/*----------- Our Products Section Style ------------*/
.products-container {
    max-width: 80vw;
    margin: 5rem auto;
}

.products-details {
    max-width: 60%;
    padding: 3rem auto;
    text-align: center;
    margin: 3rem auto;
}

.products-title {
    font-size: 2.3rem;
    font-weight: 900;
    color: rgb(26, 26, 26);
    padding-bottom: 10px;
}

.products-title span {
    color: #ff4f00;
}

.products-brief {
    color: #313131;
    line-height: 2rem;
}

.products-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
}

.product-card {
    border-radius: 5px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 3px 3px 10px 5px rgba(75, 75, 75, 0.1);
}

.product-card:hover {
    box-shadow: 3px 3px 10px 6px rgba(47, 0, 255, 0.15);
}

.product-img {
    width: 15rem;
}

.product-name {
    font-size: 1.2rem;
    font-weight: 800;
    color: #191919;
    margin-bottom: 0.8rem;
}

.product-card p {
    color: #313131;
    font-weight: 500;
}

.product-price {
    font-size: 2rem;
    font-weight: 800;
    color: #191919;
    margin: 0.8rem;
}

.product-card button {
    max-width: 100vw;
    margin: 0 auto;
}

.product-card a {
    text-decoration: none;
}

/* -------- Deal Of The Month Section Style --------- */
.deal-container {
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 3rem;
    margin: 5rem 0;
}

.deal-img {
    width: 50%;
    padding: 3rem;
}

.deal-img:hover {
    animation: rotate 3s ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.deal-content {
    width: 50%;
}

.sub-title {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #313131;
}

.deal-brief {
    color: #696969;
    margin: 1rem 0;
    line-height: 1.5rem;
}

.deal-counter {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 1rem 0 2rem;
}

.deal-time {
    border: 2px solid #ff4f00;
    text-align: center;
    width: 80px;
    height: 80px;
}

.deal-time h4 {
    font-size: 1.8rem;
    font-weight: 800;
    color: #ff4f00;
    padding-top: 7px;
}

.deal-time p {
    color: #313131;
    font-size: 0.9rem;
}

.deal-content a {
    text-decoration: none;
}

/* -------- Customer Feedback Section Style --------- */
.feedback-container {
    max-width: 50vw;
    margin: 0 auto;
    text-align: center;
}
.feedback-container img {
    width: 100px;
    border-radius: 50%;
}

.feedback-container h4 {
    font-size: 1.2rem;
    font-weight: 800;
    margin: 1rem 0;
}

.feedback-container h6 {
    font-size: 0.9rem;
    font-weight: 800;
    color: #313131;
}

.feedback-container p {
    color: #696969;
    font-style: italic;
    margin: 1.2rem 0;
    letter-spacing: 0.3px;
    line-height: 1.5rem;
}

.quote {
    font-size: 4rem;
    color: #696969;
}

/*------------- Frutikha Origin History Section ------------*/
.origin-container {
    max-width: 80vw;
    margin: 5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.origin-video iframe {
    border-radius: 10px;
    height: 425px;
}

.origin-video {
    flex: 1;
}

.origin-content {
    flex: 1;
}

.origin-content p {
    color: #696969;
}

.origin-content button {
    margin: 1.5rem 0;
}

/*---------- Sale Discount Section Style ----------*/
.discount-container {
    background-image: url(../images/discount.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 8rem 0;
}

.discount-content {
    padding: 6rem;
    max-width: 60%;
}

.sale-discount {
    font-size: 3rem;
}

.discount-precent {
    display: flex;
    align-items: end;
    gap: 8px;
    margin: 1rem 0;
}

.discount-precent p {
    width: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #191919;
    padding-bottom: 8px;
}

.discount-precent h3 {
    font-size: 3.2rem;
    font-weight: 800;
    color: #ff4f00;
}

/*----------- Our News Section Style ------------*/
.news-container {
    max-width: 80vw;
    margin: 5rem auto;
}

.news-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.news-card {
    border-radius: 20px 20px 5px 5px;
    box-shadow: 3px 3px 10px 5px rgba(75, 75, 75, 0.1);
}

.news-card:hover {
    box-shadow: 3px 3px 10px 6px rgba(47, 0, 255, 0.15);
}

.news-card-img {
    border-radius: 20px 20px 0 0;
    max-width: 100%;
}

.news-card-content {
    padding: 1.5rem;
}

.news-card-content h3 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #191919;
}

.news-card-content img {
    width: 0.9rem;
    filter: opacity(0.8);
}

.news-author-info {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin: 1rem 0;
    color: #696969;
}

.news-author {
    display: flex;
    align-items: center;
    gap: 5px;
}

.news-author p {
    font-weight: 300;
    font-size: 14px;
}

.news-date {
    display: flex;
    align-items: center;
    gap: 5px;
}

.news-date p {
    font-weight: 300;
    font-size: 14px;
}

.news-card-details {
    color: #696969;
}

.news-link {
    padding: 1.5rem 0 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.news-link a {
    text-decoration: none;
    color: #191919;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

.news-container button {
    display: flex;
    margin: 5rem auto;
    text-decoration: none;
}

.news-btn {
    text-decoration: none;
}

/*---------- Company Identification Logo Section Style ----------*/
.company-container {
    background-color: #e5e4e2;
    padding: 3rem 0;
}

.company-content {
    max-width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: space-between;
}

/*--------- Footer Section Style ----------*/
footer {
    background-color: #001d3d;
}

.footer-info-container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 5rem 0;
    color: white;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.info-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-info-container h3 {
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.footer-info-container p {
    color: #b8b8b8;
    line-height: 1.5rem;
    font-weight: 300;
}

.about-content {
    width: 25%;
}

.get-touch-content p {
    padding-bottom: 8px;
}

.pages-content li {
    display: flex;
    align-items: center;
    gap: 6px;
    list-style: none;
    padding-bottom: 8px;
}

.pages-content img {
    width: 1rem;
}

.pages-content a {
    text-decoration: none;
    color: #b8b8b8;
}

.pages-content a:hover {
    color: #ff4f00;
}

.subscribe-content {
    padding-left: 5rem;
}

.subscribe-input-content {
    display: flex;
    gap: 5px;
    margin: 1rem 0;
}

.subscribe-input-content input {
    width: 85%;
    padding: 15px 15px;
    font-size: 1rem;
    background-color: #022d5ac2;
    border: none;
    border-radius: 3px;
}

.subscribe-input-content input:focus {
    outline: none;
    color: #e5e4e2;
    border: none;
    background: rgba(50, 149, 255, 0.2);
}

.input-button {
    width: 20%;
    background-color: #022d5ac2;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.input-button img {
    width: 40px;
    height: 40px;
    padding: 10px;
}

.horizontal-border {
    display: block;
    border-top: 1px solid rgba(210, 236, 160, 0.1);
}

.footer-link-container {
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.footer-copyright p {
    color: #b8b8b8;
    font-weight: 300;
}

.footer-copyright span {
    font-weight: 700;
    color: #f28123;
}

.social-link {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.social-link img {
    width: 1.1rem;
}

/*---------------------------------------------------------------
-------- Responsive For Small Mobile (max-576px) Device ---------
---------------------------------------------------------------*/

@media screen and (max-width: 576px) {
    /*----- Button Style -----*/
    .btn {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        font-weight: 400;
    }

    .outline-btn,
    .outline-btn:hover {
        padding: 0.4rem 1rem;
        font-size: 0.8rem;
        font-weight: 400;
    }

    .btn img {
        width: 1rem;
    }

    /*----- Nav Section ------*/
    .nav-container {
        position: relative;
        background: url(../images/hero-bg-3.jpg);
        background-size: cover;
    }

    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu ul {
        flex-direction: column;
        gap: 0.8rem;
        margin: 2rem 0 1rem;
    }

    .menu-icon {
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }

    .logo,
    .menu,
    .menu-icon {
        text-align: center;
    }

    /*----- Banner Section ------*/
    .banner {
        padding: 1rem 1rem 2rem;
    }

    .banner-sub-title {
        font-size: 15px;
        font-weight: 700;
    }

    .banner-title {
        font-size: 2.5rem;
        font-weight: 800;
    }

    .banner-extra-container {
        max-width: 100%;
        padding: 1rem;
        gap: 0.8rem;
    }

    .ssr-container {
        gap: 0.5rem;
    }

    .ssr-container img {
        width: 3rem;
        border: 2px dotted #f28123;
        border-radius: 50%;
        padding: 0.5rem;
    }

    .ssr-content h4 {
        font-size: 0.8rem;
        margin-bottom: 5px;
    }

    .ssr-content p {
        font-size: 0.7rem;
    }

    /*----- Our Products -----*/
    .products-container {
        max-width: 90vw;
        margin: 3rem auto;
    }

    .products-details {
        max-width: 100%;
        padding: 1rem;
    }

    .products-title {
        font-size: 1.5rem;
        font-weight: 800;
    }

    .products-brief {
        line-height: 1.3rem;
        font-size: 0.8rem;
    }

    .products-card-container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .product-card {
        margin: 0 3rem;
    }

    .product-name {
        font-size: 1rem;
        font-weight: 700;
    }

    .product-card p {
        font-size: 0.8rem;
        font-weight: 400;
    }

    .product-price {
        font-size: 1.3rem;
    }

    /*----- Deal Section -----*/
    .deal-container {
        gap: 1rem;
        padding: 2rem 1rem;
        margin: 3rem 0;
    }

    .deal-content {
        padding: 0 10px;
    }

    .deal-img {
        padding: 1rem;
    }

    .sub-title {
        font-size: 0.9rem;
    }

    .deal-brief {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    .deal-counter {
        gap: 4px;
        margin: 0.6rem 0 1.2rem;
    }

    .deal-time {
        border: 1px solid #ff4f00;
        width: 50px;
        height: 50px;
    }

    .deal-time h4 {
        font-size: 1.2rem;
        font-weight: 700;
        padding-top: 2px;
    }

    .deal-time p {
        font-size: 0.7rem;
    }

    /*---- Feedback Section -----*/
    .feedback-container img {
        width: 70px;
    }

    .feedback-container h4 {
        font-size: 1rem;
        font-weight: 700;
    }

    .feedback-container h6 {
        font-size: 0.8rem;
        font-weight: 700;
    }

    .feedback-container p {
        font-size: 0.8rem;
        margin: 1rem 0;
        line-height: 1.2rem;
    }

    .quote {
        font-size: 2.5rem;
    }

    /*----- Origin Section ----*/
    .origin-container {
        /* flex-direction: column-reverse; */
        display: block;
        max-width: 90vw;
        margin: 3rem auto;
        gap: 2rem;
    }

    .origin-video iframe {
        width: 100%;
        height: 300px;
        margin-bottom: 2rem;
    }

    .origin-details {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    /*----- Sale Discount Style -----*/
    .discount-container {
        margin: 5rem 0;
    }

    .discount-content {
        max-width: 60%;
        margin: 0 auto;
        padding: 2rem;
        text-align: center;
    }

    .discount-precent {
        align-items: end;
        justify-content: center;
        gap: 8px;
        margin: 1rem 0;
    }

    /*----- News Section Style -----*/
    .news-container {
        max-width: 90vw;
        margin: 3rem auto 2rem;
    }

    .news-card-container {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .news-card-header {
        margin: 4rem 0 2rem;
        padding: 0;
    }

    .news-card-content h3 {
        font-size: 1rem;
    }

    .news-card-content img {
        width: 0.7rem;
    }

    .news-card-details {
        font-size: 0.8rem;
    }

    .news-link a {
        font-weight: 400;
        font-size: 0.8rem;
    }

    .news-container button {
        margin: 3rem auto;
    }

    /*----- Company Logo Section Style ------*/
    .company-content {
        max-width: 90vw;
        grid-template-columns: repeat(3, 1fr);
    }
   .company-content img {
       width: 100px;
   }
    
    /*----- Footer Section -----*/
    footer p {
        font-size: 0.8rem;
    }

    .footer-info-container {
        max-width: 90vw;
        padding: 3rem 0 1rem;
        gap: 1rem;
        flex-direction: column;
    }

    .subscribe-content {
        text-align: center;
        padding: 0;
    }

    .footer-link-container {
        max-width: 90vw;
        padding: 1rem 0;
    }

    .social-link {
        gap: 1rem;
    }

    .social-link img {
        width: 1rem;
    }
}
